/* start header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.navbar-brand, .navbar-brand:hover {
    color: white;
    font-size: 2rem;
}

.navbar-nav a.nav-link {
    color: white;
    position: relative;
    margin-right: 30px;
}

.navbar-nav a.nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #35a22c;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar-nav a.nav-link:hover::before {
    width: 100%;
}

.navbar-nav a.nav-link:hover {
    color: #35a22c;
    transition: 0.3s;
}


/* end header */

#carousel .carousel-item {
    height: 100vh;
}

#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

#carousel .carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.242);
    z-index: 2;
}

#carousel .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#carousel .carousel-indicators .active {
    background-color: #35a22c;
}


/* start projects */

#projects .nav {
    justify-content: center;
    margin: 50px 0 !important;
}

#projects .nav-pills .nav-link {
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 20px;
    color: black;
}

#projects .nav-pills .nav-link.active {
    background-color: #35a22c;
    color: white !important;
    border-color: #35a22c !important;
}

#projects .card {
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projects .card-body{
    border: 2px solid transparent;
    border-top: none;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.3s;
}

#projects .card:hover .card-body{
    border-color: #35a22c;
}
/* end projects */

/* start feature */

#features {
    background-image: url(./image/3.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 0;
    position: relative;
}

#features::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.features__container {
    position: relative;
    z-index: 2;
}

.feature__item {
    backdrop-filter: blur(3px);
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #e8e8e8;
    transition: 0.3s;
}

.feature__item i {
    font-size: 3rem;
    color: #35a22c;
}

.feature__item h3 {
    margin: 20px 0;
}

.feature__item:hover {
    background: #000;
    cursor: pointer;
}



/* end features */

@media screen and (min-width: 992px) {
    #demo {
        background: red;
    }
}